In [ ]:
!pip install numpy pandas seaborn matplotlib

In [5]:
#Import the CSV Data as Pandas DataFrame
df = pd.read_csv('student-mat.csv')

In [6]:
#Show Top 5 Records
df.head()

                                                                                                                                                                                                                                        student-mat
school sex age address famsize Pstatus Medu Fedu Mjob    Fjob     reason guardian traveltime studytime failures schoolsup famsup paid activities nursery higher internet romantic famrel freetime goout Dalc Walc health absences G1 G2          G3
GP     F   18  U       GT3     A       4    4    at_home teacher  course mother   2          2         0        yes       no     no   no         yes     yes    no       no       4      3        4     1    1    3      6        5  6            6
           17  U       GT3     T       1    1    at_home other    course father   1          2         0        no        yes    no   no         no      yes    yes      no       5      3        3     1    1    3      4        5  5            6
           15  U       LE3     T       1    1    at_home other    other  mother   1          2         3        yes       no     yes  no         yes     yes    yes      no       4      3        2     2    3    3      10       7  8           10
                       GT3     T       4    2    health  services home   mother   1          3         0        no        yes    yes  yes        yes     yes    yes      yes      3      2        2     1    1    5      2        15 14          15

In [7]:
#Shape of the dataset
df.shape

(396, 1)

In [8]:
#Check Missing values
df.isna().sum()

student-mat    0
dtype: int64

In [9]:
#Check Duplicates
df.duplicated().sum()

np.int64(377)

In [10]:
#Check data types
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 396 entries, ('school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2') to ('MS', 'M', '19', 'U', 'LE3', 'T', '1', '1', 'other', 'at_home', 'course', 'father', '1', '1', '0', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', '3', '2', '3', '3', '3', '5', '5', '8', '9')
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   student-mat  396 non-null    object
dtypes: object(1)
memory usage: 23.9+ KB

In [11]:
#Checking the number of unique values of each column
df.nunique()

student-mat    19
dtype: int64

In [12]:
#Check statistics of data set
df.describe()

       student-mat
count          396
unique          19
top             10
freq            56

In [13]:
#Exploring Data
df.head()

                                                                                                                                                                                                                                        student-mat
school sex age address famsize Pstatus Medu Fedu Mjob    Fjob     reason guardian traveltime studytime failures schoolsup famsup paid activities nursery higher internet romantic famrel freetime goout Dalc Walc health absences G1 G2          G3
GP     F   18  U       GT3     A       4    4    at_home teacher  course mother   2          2         0        yes       no     no   no         yes     yes    no       no       4      3        4     1    1    3      6        5  6            6
           17  U       GT3     T       1    1    at_home other    course father   1          2         0        no        yes    no   no         no      yes    yes      no       5      3        3     1    1    3      4        5  5            6
           15  U       LE3     T       1    1    at_home other    other  mother   1          2         3        yes       no     yes  no         yes     yes    yes      no       4      3        2     2    3    3      10       7  8           10
                       GT3     T       4    2    health  services home   mother   1          3         0        no        yes    yes  yes        yes     yes    yes      yes      3      2        2     1    1    5      2        15 14          15

In [ ]:
print("Categories in 'school' variable:     ",end=" " )
print(df['school'].unique())

print("Categories in 'sex' variable:     ",end=" " )
print(df['sex'].unique())

print("Categories in 'age' variable:  ",end=" ")
print(df['age'].unique())

Categories in 'sex' variable:

KeyError: 'sex'

In [16]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 0 numerical features : []

We have 1 categorical features : ['student-mat']

In [17]:
df.head(2)

                                                                                                                                                                                                                                       student-mat
school sex age address famsize Pstatus Medu Fedu Mjob    Fjob    reason guardian traveltime studytime failures schoolsup famsup paid activities nursery higher internet romantic famrel freetime goout Dalc Walc health absences G1 G2          G3
GP     F   18  U       GT3     A       4    4    at_home teacher course mother   2          2         0        yes       no     no   no         yes     yes    no       no       4      3        4     1    1    3      6        5  6            6

#Adding columns for "Total Score" and "Average"

In [19]:
df['total score'] = df['G1'] + df['G2'] + df['G3']
df['average'] = df['total score']/3
df.head()

KeyError: 'G1'